<div id="jumbotron" class="image-header">
  <aside class="image-slider">
    <!--<img src="/assets/foto_1_website.jpg" alt="Mijn foto...">-->
  </aside>
  <h1>We design to adapt</h1>
</div>
<section id="welcome" class="background-gray">
  <div class="container text-justify">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <div class="text-center">
          <h2>Studio Eve</h2>
        </div>
        <br>
        <p class="text-center">

          Welcome to Studio EVE! <br>

          Because of technology the twenty-first century is in need of people coping with increasing complexity.
          Solving contemporary problems cannot be determined by thinking within beaten tracks.
          Now more then ever we need to bundle powers and harness for massive connectivity.
          Design is about development, testing and concepts, it is about shaping and reshaping values in the pace of our vast changing society.
          Studio Eve works multidisciplinary to help companies design for this century.
        </p>
      </div>
    </div>
  </div>
</section>
<how-we-help></how-we-help>
<work-overview></work-overview>
<section id="about" class="container profile">
  <div class="row">
    <div class="col-sm-2 col-sm-push-5 text-center profile-picture">
      <h3>Eefje Auer</h3>
      <img src="/assets/eefje.jpg" alt="Eefje Auer" class="img-responsive border">
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-5 text-center">
      <aside class="description">
        <h3>2016 - 2017</h3>
        <h5>Master Design Informatics
          University of Edinburgh </h5>
      </aside>
    </div>
    <div class="col-sm-2">
      <img src="/assets/edi.jpg" alt="" class="img-responsive border gray">
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-push-5 col-sm-2">
      <img src="/assets/svg/logo.svg" alt="" class="img-responsive border gray">
    </div>
    <div class="col-sm-5 col-sm-push-5 text-center">
      <aside class="description">
        <h3>2015 - Current </h3>
        <h5>Studio EVE
          Service design & Visual Design</h5>
      </aside>
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-5 text-center">
      <aside class="description">
        <h3>2011 - 2015</h3>
        <h5>WDKA Art Academy
          Graphic Design
          specialised in Service Design
          with honours </h5>
      </aside>
    </div>
    <div class="col-sm-2">
      <img src="/assets/willemdekoning.jpg" alt="" class="img-responsive border gray">
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-push-5 col-sm-2">
      <img src="/assets/jeweler.jpg" alt="" class="img-responsive border gray">
    </div>
    <div class="col-sm-5 col-sm-push-5 text-center">
      <aside class="description">
        <h3>2006 - 2010 </h3>
        <h5>Jeweler / watchmaker Acadamy Schoonhoven</h5>
      </aside>
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row let-me-help-you">
    <div class="col-sm-2 col-sm-push-5">
      <figure class="help-figure">
        <figcaption>
          let me help you!
        </figcaption>
      </figure>
    </div>
  </div>
</section>
<contact-form id="contact"></contact-form>
