<div id="jumbotron" class="image-header">
  <aside class="image-slider">
    <!--<img src="/assets/foto_1_website.jpg" alt="Mijn foto...">-->
  </aside>
  <h1>We design to adapt</h1>
</div>
<section id="welcome" class="background-gray">
  <div class="container text-justify">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <div class="text-center">
          <h2>Studio Eve</h2>
        </div>
        <br>
        <p class="text-center">

          Welcome to Studio EVE! <br>

          We help open minded companies grow and adapt to changes their users experience. We help you embed creativity with in the company. And communicate a bright and clear message to your user.
        </p>
      </div>
    </div>
  </div>
</section>
<how-we-help></how-we-help>
<work-overview></work-overview>
<section id="about" class="container profile">
  <div class="row">
    <div class="col-sm-2 col-sm-push-5 text-center profile-picture">
        <img src="/assets/eefje.jpg" alt="Eefje Auer" class="img-responsive border">
        <h3>Eefje Auer</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 text-right">
      <aside class="description">
        <h3>2006 - 2010</h3>
        <h5>Finished <br> Jeweler / watchmaker <br> Acadamy Schoonhoven</h5>
      </aside>
    </div>
    <div class="col-sm-2">
      <img src="/assets/jeweler.jpg" alt="" class="img-responsive border gray">
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-push-5 col-sm-2">
      <img src="/assets/willemdekoning.jpg" alt="" class="img-responsive border gray">
    </div>
    <div class="col-sm-5 col-sm-push-5">
      <aside class="description">
        <h3>2011 - 2015</h3>
        <h5>Finished Willem de Kooning art academy Graphic design specialised in Service design with honours</h5>
      </aside>
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row">
    <div class="col-sm-5 text-right">
      <aside class="description">
        <h3>2015 - current</h3>
        <h5>Started Studio EVE and works for and with different companies on service design, visual design and strategic design</h5>
      </aside>
    </div>
    <div class="col-sm-2">
      <img src="/assets/svg/logo.svg" alt="" class="img-responsive border gray">
    </div>
  </div>
  <div class="row"><div class="col-sm-push-5 col-sm-2"><div class="spacer"></div></div></div>
  <div class="row let-me-help-you">
    <div class="col-sm-2 col-sm-push-5">
      <figure class="help-figure">
        <figcaption>
          let me help you!
        </figcaption>
      </figure>
    </div>
  </div>
</section>
<contact-form id="contact"></contact-form>