<div id="jumbotron" class="image-header">
  <aside class="image-slider">
    <img src="/assets/foto_1_website.jpg" alt="Mijn foto...">
  </aside>
  <h1>We design to adapt</h1>
</div>
<section id="welcome" class="background-gray">
  <div class="container text-justify">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <div class="text-center">
          <h2>Studio Eve</h2>
        </div>
        <br>
        <p class="text-center">

          Welcome to Studio EVE! <br>

          We help open minded companies grow and adapt to changes their users experience. We help you embed creativity with in the company. And communicate a bright and clear message to your user.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="how-we-help">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>How we help...</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <figure>
          <img src="/assets/service-design.jpg" alt="Service Design" class="img-responsive">
          <b>Service Design</b>
        </figure>
        <figcaption>
          <p>Service design lends tools in which you can learn more about your user then ever before. We help you listen to your users and use service design tools to upgrade your service or product...</p>
        </figcaption>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <img src="/assets/visual-design.jpg" alt="Service Design" class="img-responsive">
          <b>Visual Design</b>
        </figure>
        <figcaption>
          <p>Technology and ways to communicate have grown exponentially, and internet makes it possible spreading information over the world everyday.. How to spread your story...</p>
        </figcaption>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <img src="/assets/strategic-design.jpg" alt="Service Design" class="img-responsive">
          <b>Strategic Design</b>
        </figure>
        <figcaption class="text-justify">
          <p>We help you creating a company in which an  innovation in a natural outcome of a creative way of working. We learn design thinking in five diffrent steps...</p>
        </figcaption>
      </div>
    </div>
  </div>
</section>
<section id="work" class="background-gray">
  <div class="container text-justify">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <div class="text-center">
          <h2>Work</h2>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/assets/work1.jpg" alt="" class="img-responsive">
        <b>Service Design</b>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/work2.jpg" alt="" class="img-responsive">
        <b>Strategic design</b>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/work3.jpg" alt="" class="img-responsive">
        <b>Visual communication</b>
      </div>
    </div>
  </div>
</section>
