<section class="work-detail">
	<div class="container">
		<div class="row text-center">
			<h2>{{work?.title}}</h2>
		</div>
		<div class="row work-details-content">
			<div class="col-sm-6">
				<section [innerHTML]="work?.content" class="content"></section>
			</div>
			<div class="col-sm-6">
				<img *ngFor="#image of work?.pictures" src="{{image}}" class="img-responsive">
				<video width="100%" controls *ngIf="work.movie">
  					<source [src]="work?.movie" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>