/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2:after {
  content: " ";
  display: block;
  width: 120%;
  height: 10px;
  border-top: solid 5px #ffd134;
  padding-bottom: 5px;
  border-bottom: solid 5px #ffd134;
  position: absolute;
  transform: rotate(-3.3deg);
  left: -10%;
}
h2 {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}
h2.inverted:after {
  border-color: #fff;
}
.image-header {
  height: 65vh;
  position: relative;
  overflow: hidden;
}
.image-slider {
  position: absolute;
  left: 0;
  width: 100%;

}
.image-slider img {
  width: 100%;
}
.image-header h1 {
  color: #ffd134;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  background: white;
  position: relative;
  font-size: 48px;
  padding: 7px 0;
  top: calc(50% - 33px);
  position: absolute;
}
.background-yellow {
  background-color: #ffd134;
}
.background-gray {
  background: #f9f6f7;
}
#welcome {
  padding-top: 25px;
  padding-bottom: 35px;
  font-size: 24px;
  text-align: center
}
#work img {
  margin: auto;
}
textarea.form-control,
input.form-control {
  border-radius: 0;
  min-height: 45px;
  border: none;
  border-bottom: solid 3px #000;
  border-right: solid 2px #000;
  transition: all .3s ease;
}
.form-control.ng-invalid.ng-touched {
  border-left: solid 6px indianred
}
.form-control.ng-valid.ng-touched {
  border-left: solid 6px mediumseagreen;
}