/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2:after {
  content: " ";
  display: block;
  width: 120%;
  height: 10px;
  border-top: solid 5px #ffd134;
  padding-bottom: 5px;
  border-bottom: solid 5px #ffd134;
  position: absolute;
  transform: rotate(-2.9deg);
  left: -10%;
  z-index: -3
}
h2 {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  z-index: 10;
}
h2.inverted:after {
  border-color: #fff;
}
.image-header {
  height: 65vh;
  position: relative;
  overflow: hidden;
}
.image-slider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/foto_1_website.jpg');
  background-size: cover;
  background-position: center;
}
.image-slider img {
  width: 100%;
}
.image-header h1 {
  color: #ffd134;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  background: white;
  position: relative;
  font-size: 48px;
  padding: 7px 0;
  top: calc(50% - 33px);
  position: absolute;
}
.background-yellow {
  background-color: #ffd134;
}
.background-gray {
  background: #f9f6f7;
}
#welcome {
  padding-top: 25px;
  padding-bottom: 35px;
  font-size: 24px;
  text-align: center
}
#work img {
  margin: auto;
}
textarea.form-control {
  min-height: 243px!important;
}
textarea.form-control,
input.form-control {
  border-radius: 0;
  min-height: 45px;
  border: none;
  border-bottom: solid 3px #000;
  border-right: solid 2px #000;
  transition: all .3s ease;
}
.form-control.ng-invalid.ng-touched {
  border-left: solid 6px indianred
}
.form-control.ng-valid.ng-touched {
  border-left: solid 6px mediumseagreen;
}

.form-group button[disabled].btn {
 opacity: .5;
}
.form-group button.btn:hover {
 background:  #f9f6f7;
}
.form-group button.btn {
    transform: opacity .3 ease;
    position: absolute;
    right: 17px;
    bottom: 18px;
    background: none;
    font-size: 19px;
    text-transform: uppercase;
    color: #ffd134;
    font-weight: 600;
    letter-spacing: 1px;
}
h3.circle:before {
	display: block;
	content: " ";
	background: #ffd134;
	border-radius: 50%;
	height: 50px;
	position: absolute;
	width: 50px;
	z-index: -2;
	left: calc(50% - 25px);
	top: calc(50% - 25px);
}
h3 {
	font-size: 22px;
  text-transform: uppercase;
	z-index: 1;
  text-align: center;
  position: relative;
	margin-bottom:25px;
	text-decoration: underline;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.work-list-row {
  margin-bottom: 60px;
}
.work-list-row b {
  display: inline-block;
  margin-top:8px;
  font-size:19px;
}
.content p {
  padding: 0 12px;
}
slide-show {
  display: block;
  margin-top:20px;
}
button.flickity-prev-next-button {
    opacity: 0.5 !important;
    transition: opacity .35s ease;
}
.flickity-prev-next-button:hover {
    opacity: 1 !important;
}